#gameframe {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  margin-top: 20px;
  display: flex;
}

.share-button {
  display: inline-block;
  margin: 20px 0;
}

.saved {
  cursor: pointer;
  margin-top: 2px;
  color: #21d160;
  font-weight: bold;
}
