{% load is_developer %}

<nav class="navbar navbar-expand-sm navbar-light ml-3">
  <a class="navbar-brand" href="/">Gamestore</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user|user_is_developer %}
        <li class="nav-item mr-sm-2 ml-5 mr-5">
          <a class="nav-link" href="/dev/">Developer</a>
        </li>
      {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if user.is_authenticated %}
        <li class="nav-item mr-sm-5 ml-5 mr-5">
          <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
      {% else %}
        <li class="nav-item mr-sm-2 ml-5 mr-5">
          <a class="nav-link" href="/auth/login">Login</a>
        </li>
        <li class="nav-item mr-sm-5 ml-5 mr-5">
          <a class="nav-link" href="/signup">Register</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
